#c_1 {
  padding: 58px 0px;
  h4 {
    font-size: 26px;
    font-family: 'Lalezar', cursive;
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 8px 0px;
    &:before {
      content: '';
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-top: 1px solid #6f6f6f;
      border-bottom: 1px solid #6f6f6f;
    }
  }
  p.title-contact{
    margin-bottom: 8px;
  }
  input{
    border: 1px solid #6f6f6f;
    width: 100%;
    padding:6px 8px;
    &:focus{
      outline: none;
    }
  }

  textarea{
    width: 100%;
    border: 1px solid #6f6f6f;
  }

  button{
    font-size: 14px;
    border: none;
    padding: 12px 15px 11px 15px;
    background-color: #0c0c0c;
    color: white;
  }
}